VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(1, 0, 0, 0),
    prodvers=(1, 0, 0, 0),
    mask=0x0,
    flags=0x0,
    OS=0x4,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
    ),
  kids=[
    StringFileInfo(
      [
      StringTable(
        u'040904b0',
        [StringStruct(u'FileDescription', u'TestService'),
        StringStruct(u'FileVersion', u'1.0.0'),
        StringStruct(u'InternalName', u'TestService'),
        StringStruct(u'LegalCopyright', u' Varun'),
        StringStruct(u'OriginalFilename', u'TestService.exe')])
      ]), 
    VarFileInfo([VarStruct(u'Translation', [1033, 1200])])
  ]
)
